/*Bendri stiliai*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
   padding: 0px;
}
/*Viršutinis headeris*/
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}
.top-left,
.top-right {
    margin-right: 20px;
    cursor: pointer;
}
/*Apatinis headeris*/
.bottom-header {
    font-display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-top: 2px solid #000;
    font-size: 16px;
}
.logo-section {
    display: flex;
    align-items: center;
}
.logo-section {
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
}
.right-section {
    display: flex;
    align-items: center;
}
.right-section {
    display: flex;
    align-items: center;
}

.send-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: darkred;

}

/* Hero*/
 .hero-section {
    background-image: url(autumn-background.jpg); /*Paveiksl4lio URL*/
    background-size:cover;
    background-position: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

 .hero-left ul {
    list-style: none;
    padding: 0;
 }

 .hero-left li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding:  15px;
    background-color: #f5f5f5;
    border-radius: 5px;
 }

 .hero-left input {
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
 }

 .red-btn {
    background-color: red;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight:bold;
    cursor: pointer;
    width: 100%;
    text-align: center;
 }
 
 .hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px ;
 }

 .hero-right h1 {
    font-size: 2rem;
    margin-bottom: 20px;
 }

.hero-right p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.more-btn {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.more-btn:hover {
    background-color: f0f0f0;
}

.icon {
    font-size: 24px;
}