.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    background: coral;    
}

.flex-item {
    background-color: lightblue;
    padding: 5px;  /*melsvo langelio dydis*/
    margin: 10px;
    text-align: center;
}

.flex-container {
    flex-direction: column;
}